<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/images/logo.png" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

<div id="bio" class="text-center">
	Front End Engineering <br />
  September 2014 <br />
	Atlanta, GA
</div>

<ul>
  <li><a href="/">Home</a><li>
  {% for page in site.pages | sort: 'title' %}
    {% if page.title != 'Welcome' %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>


<! -- sidebar.html end -->
